<% if current_user.try(:admin) %>
  <span class="admin_menu">
    <%= icon_menu_button 'edit', edit_writing_path(writing) %>
    <%= icon_menu_button 'remove', writing_path(writing), {method: :delete, data: { confirm: 'Are you sure?' }} %>
  </span>
<% end %>
