<div class="comments">
  <div class="comment_list">
    <%= render comments %>
  </div>

  <%= render partial: 'comments/form', locals: {
    comment:         comment,
    writing:         writing,
    last_updated_at: comments.last ? comments.last.updated_at : nil
  } %>
</div>