<%= div_for writing do %>
  <div class="title"><h3><%= link_to writing.title, writing %></h3></div>
  <div class="category"><%= writing.category.name %></div>
  <div class="content"><%= writing.content %></div>
<% end %>