<% if comment.user.nil? && current_user.nil? %>
  <span class="menu">
    <span class="edit glyphicon glyphicon-edit"></span>&nbsp;
    <span class="delete glyphicon glyphicon-remove"></span>
    <span class="delete_form"></span>
  </span>
<% elsif valid_user?(comment.user) %>
  <span class="menu" data-user="true">
    <span class="edit glyphicon glyphicon-edit"></span>&nbsp;
    <span class="delete glyphicon glyphicon-remove"></span>
    <span class="delete_form"></span>
  </span>
<% end %>