<% if comment.user.nil? && current_user.nil? %>
  <div class="menu">
    <div class="edit">[E]</div>
    <div class="delete">[D]</div>
    <div class="delete_form"></div>
  </div>
<% elsif valid_user?(comment.user) %>
  <div class="menu" data-user="true">
    <div class="edit">[E]</div>
    <div class="delete">[D]</div>
    <div class="delete_form"></div>
  </div>
<% end %>