<div class='footer text-center'>
  <%= render 'shared/author' %>
  <% if (!@setting.author_name.blank? || !@setting.author_email.blank?) && !@setting.ccl_id.nil? %>
    /
  <% end %>
  <%= render 'shared/copyright' %>
</div>
