<div class='writings_list_container'>
  <div class='description text-info'><%= "#{pluralize(@writing_count, 'writing')} in '#{@category_name}' category" %></div>
  <ul class='writings_list'>
    <%= render partial: "writings/writing_in_list",
               collection: @writings,
               as: :writing %>
  </ul>
</div>

<%= paginate @writings %>

<% content_for :sidebars do %>
  <%= render 'categories' %>
<% end %>
