<div class='writings'>
  <%= render partial: @writings, spacer_template: 'writings/writing_spacer' %>
</div>

<div class='pagination_container text-center col-md-12'>
  <%= paginate @writings %>
</div>
