<div class="writings">
  <%= render @writing %>
  <%= render "writings/writing_spacer" %>
</div>

<%= link_to 'List', index_path %>

<% content_for :sidebars do %>
  <%= render 'categories' %>
<% end %>