/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

@import "bootstrap";

.not_displayed {
    display: none;
}

.clear_both {
  clear: both;
}

/*
 * CUSTOM jumbotron
 */

.jumbotron.jumbotron-custom {
  background-color: #000;
  text-align: center;
}

.jumbotron.jumbotron-custom-white {
  background-color: #FFF;
  text-align: center;
}

/*
 * CUSTOM pagination
 */

.pagination.pagination-custom {
  .page a,
  .gap span,
  .active span {
    border: 0px;
    color: #FFF;
  }

  .page a {
    background-color: #000;
  }

  .page a:hover {
    background-color: #333;
  }

  .gap span {
    color: #999;
    background-color: #000;
  }

  .active span {
    background-color: #333;
  }
}

/*
 * CUSTOM alert
 */

.alert-custom {
  padding: 3px 0;
  margin-bottom: 10px;
}

.alert-custom.alert-dismissable button {
  right: 0px;
}

.alert-custom.text-success {
  border-bottom: 1px solid #{$brand-success};

  button {
    color: #{$brand-success};
  }
}

.alert-custom.text-info {
  border-bottom: 1px solid #{$brand-info};

  button {
    color: #{$brand-info};
  }
}

.alert-custom.text-danger {
  border-bottom: 1px solid #{$brand-danger};

  button {
    color: #{$brand-danger};
  }
}

/*
 * CUSTOM modal
 */

.modal-custom {
  .modal-body {
    overflow-y: auto;
  }
}
