// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$grid: 0, 1, 2, 3, 4, 5, 6, 7, 8, 9;

@each $i in $grid {
  .depth#{$i} {
    padding-left: #{$i*10}px;
    padding-right: #{50-$i*10}px;
  }
}

.category {
    display: inline-block;
    width: 100px;

    > div {
        display: inline;
    }
}

.category_editor {
    display: inline;

    form {
        display: inline;
    }
}