// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.depth0 {
    padding-right: 50px;
}

.depth1 {
    padding-left:  10px;
    padding-right: 40px;
}

.depth2 {
    padding-left:  20px;
    padding-right: 30px;
}

.depth3 {
    padding-left:  30px;
    padding-right: 20px;
}

.depth4 {
    padding-left:  40px;
    padding-right: 10px;
}

.category {
    display: inline-block;
    width: 100px;

    > div {
        display: inline;
    }
}

.category_editor {
    display: inline;

    form {
        display: inline;
    }
}