// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
 *= require application
 *= require_self
 */

.contents {

    .writings {
        float: left;
        width: 800px;

        .writing {
            border-bottom: 1px solid #000000;

            h3 {
                margin: 0px;
            }

            .title {
                font-size: 1.2em;
            }

            .info {
                font-size: 0.8em;

                .created_at,
                .updated_at {
                    display: inline;
                }
            }

            .content {
                padding: 15px;

                a:link    { color: #888888; text-decoration: underline; }
                a:visited { color: #888888; }
                a:hover   { color: #888888; text-decoration: underline; }
                a:active  { color: #888888; }
            }
        }

        .writing_spacer {
            height: 50px;
        }

        .pagination {
            margin-top: 50px;
        }

        margin-bottom: 50px;
    }

    .categories {
        float: left;
        margin-left: 10px;
        padding-left: 10px;
        border-left: 1px solid #000000;

        $grid: 0, 1, 2, 3, 4, 5, 6, 7, 8, 9;

        @each $i in $grid {
          .depth#{$i} {
            padding-left: #{$i*10}px;
            padding-right: #{50-$i*10}px;
          }
        }
    }
}

.footer {
    .copyright,
    .author {
        display: inline;
    }
}