// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
 *= require application
 *= require_self
 */

body {
    background-color: #000;
}

.prefix,
.header,
.main_menu,
.contents .description,
.contents .pagination,
.contents > a,
.sidebars .categories,
.footer {
    color: #FFF;

    a {
        color: #FFF;
    }
}

.contents {
    float: left;

    .writings {
        width: 800px;

        div.writing {
            padding: 10px;

            background-color: #FFF;

            h1 {
                font-size: 1.7em;
            }

            .title {
                margin: 3px 0px;
            }


            .info,
            .info .created_at,
            .info .updated_at,
            .writing_category,
            .menu {
                display: inline;
            }

            .writing_category,
            .info,
            .menu {
                font-size: 0.8em;
            }

            .content {
                margin: 15px;
                text-align: justify;

                a {
                    color: #888
                }

                a:link {
                    text-decoration: underline;
                }

                h1 {
                    border-bottom: 3px solid #000;
                }

                h2 {
                    border-bottom: 1px solid #888;
                }

                h6 {
                    font-weight: bold;
                }

                h1, h2, h3, h4, h5, h6 {
                    margin: 16px 0px;
                }

                h1, h2 {
                    margin-top: 48px;
                }
            }
        }

        .writing_spacer {
            height: 50px;
        }
    }

    .writings_list {
        float: left;
        width: 780px;
        padding: 10px;
        list-style: none;

        background-color: #FFF;

        li.writing {
            padding: 5px 0px;

            div {
                display: inline;
            }

            .info,
            .writing_category,
            .menu {
                font-size: 0.7em;
            }
        }

        .writing_spacer {
            border-top: 1px dotted #000;
        }
    }

    .pagination {
        margin-top: 50px;
    }
}

.sidebars {
    float: left;

    .categories {
        margin-left: 10px;
        padding-left: 10px;
        border-left: 1px solid #000000;

        $grid: 0, 1, 2, 3, 4, 5, 6, 7, 8, 9;

        @each $i in $grid {
          .depth#{$i} {
            padding-left: #{$i*10}px;
            padding-right: #{50-$i*10}px;
          }
        }

        .name,
        .count {
            display: inline;
        }

        .count {
            font-size: 0.8em;
        }
    }
}

.footer {
    margin-top: 50px;

    .copyright,
    .author {
        display: inline;
    }
}