<%= div_for category, class: "depth#{category.depth}" do %>
  <span class="name"><%= link_to category.name, category_writings_path(category) %></span><small><span class="count">(<%= category.descendants_writings.count %>)</span></small>
<% end %>
