<li id="<%= "category_#{category.id}" %>" class="<%= "category depth#{category.depth}" %>">
  <%= link_to category.name, category_writings_path(category), class: "name" %><small><span class="text-muted"> <%= category.descendants_writings.count %></span></small>
</li>
