<h3>Categories</h3>

<div class="categories">

<% @categories.each do |category| %>
  <div class='row'>
    <%= render category %>

    <div class="category_edit_box">
      <%= render partial: 'form', locals: {
        category:    category,
        parents:     @parents[category.id],
        submit_text: 'Update'
      } %>

      <%= render partial: 'edit_forms', locals: { category: category } unless category.root? %>
    </div>

  </div>
<% end %>

</div>

<h4>New Category</h4>

<%= render partial: 'form', locals: {
  category:    @new_category,
  parents:     @new_parents,
} %>