<!DOCTYPE html>
<html>
<head>
  <title>Privlock</title>
  
  <%= yield(:stylesheet) if content_for?(:stylesheet)%>
  <%= yield(:javascript) if content_for?(:javascript) %>

  <%= csrf_meta_tags %>
</head>
<body>

  <%= content_for?(:container) ? yield(:container) : yield %>

</body>
</html>
